* {
  transition: all 200ms;
}

html,
body {
  font-family: 'Quicksand', sans-serif;
  background: #EFEFEF;
  height: 100%;
  padding: 0 20px;
}

.container {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  background: #FFF;
}

.pad {
  padding: 10px;
}

.pad-2 {
  padding: 20px;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

/*.text-brand {
  color: #26BBB2;
}*/

.fa-plus {
  cursor: pointer;
}

.fa-plus:hover {
  color: #26BBB2;
  transform: rotate(90deg);
}

input[type="text"] {
  display: block;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  text-decoration: none;
  color: #333;
  background-color: #fff;
}

input[type="text"]:focus {
  border: 1px solid #26BBB2;
}

input[type="text"].hide {
  border-color: transparent;
  background: transparent;
}
